.grid {
    padding: 12vh 8vw 5vh 8vw;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
}

.card {
    border: 2px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    margin: 0vh 2vw 10vh 2vw; 
    height: 20vh;
    width: 10vw; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.add-button {
    position: fixed; 
    bottom: 10vh; 
    right: 10vw; 
}

.card:hover {
    background-color: rgba(0, 0, 0, .05);
}